@{
    ViewBag.Title = "Xacnhadonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn Hàng Của Quý Khách Đã được đặt thành công,xin cảm ơn!</h2>
<form action="@Url.Action("Index", "BookStore")" method="get">
    <button type="submit" class="btn btn-primary" style="background-color: #FF9900; color: white;">
        VỀ TRANG CHỦ
    </button>
</form>

